@import '../variables.css';

.homePagePhotoContainer {
	position: relative;
	z-index: 0;
	margin-top: -50px;
	height: 500px;
	width: auto;
}

@media screen and (min-width: 601px) {
	.homePagePhotoContainer {
			height: 700px;
	}
}

@media screen and (min-width: 451px) and (max-width: 600px) {
  .homePagePhotoContainer {
		height: 650px;
  }
}

.homePagePhotoContainer > img {
	position: absolute;
	z-index: 3;
	width: 55%;
	height: auto;
	bottom: 10px;
	left: 32px;
}

.homePagePhotoContainer::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 99%;
	background-image: url('../assets/img/perchiniPhoto.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	z-index: 1;
}

.homePagePhotoContainer::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		transparent 40%,
		rgba(233, 91, 7, 1) 95%
	); /* Цвет градиента можно заменить на любой другой */
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 2;
}

.homePageContent {
	padding: var(--paddingMain);
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.homePageTitle {
	text-align: center;
	font-size: var(--fontSizeTitle);
	font-family: var(--fontFamilyTitle);
	letter-spacing: var(--letterSpacingTitle);
}

.homePageText {
	text-align: center;
	text-transform: uppercase;
	font-size: calc(var(--fontSizeTitle) + 16px);
	font-family: var(--fontFamilyTitle);
	letter-spacing: 2px;
	letter-spacing: var(--letterSpacingTitle);
	margin-top: 50px;
}

.homePageLink {
	border: var(--border2pxSolidWhite);
	display: block;
	border-radius: 20px;
	padding: 16px;
	text-align: center;
	background-color: var(--white-color);
}

.homePageLink > span {
	font-size: var(--fontSizeTitle);
	font-family: var(--fontFamilyTitle);
	letter-spacing: var(--letterSpacingTitle);
	color: var(--primary-color)
}
