.homePageContainer {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.homePagePhotoContainer {
	position: relative;
	z-index: 0;
}

.homePagePhoto {
	margin-left: -50px;
	margin-right: -50px;
	margin-top: -250px;
}

.homePagePhotoContainer::before {
	content: '';
	position: absolute;
  bottom: 100px;
	width: 100%;
	height: 100%;
	background-image: url('../assets/img/perchini_mini_text.png');
  background-repeat: no-repeat;
	background-size: 50%;
  background-position: bottom;
	z-index: 1;
  border: 1px solid red;
}

.homePageTitle {
	font-size: 32px;
	font-family: 'BebasNeue', sans-serif;
	letter-spacing: 2px;
}

.homePageLink {
	border: 1px solid white;
	display: block;
	border-radius: 20px;
	padding: 16px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'BebasNeue', sans-serif;
	text-align: center;
}
