@import '../variables.css';

.restaurantPageContainer {
	position: relative;
	z-index: 1;
	background-image: url('../assets/img/mainBackground.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: var(--paddingSecondary);
	padding-bottom: 200px;
}

.restaurantPageContainer::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100px;
	background: linear-gradient(to bottom, transparent 1%, rgba(233, 91, 7, 1) 70%);
	left: 0;
	bottom: -1px;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 2;
}

.restaurantPageTitle {
	color: var(--white-color);
	margin-bottom: 16px;
	font-family: var(--fontFamilyTitle);
	font-size: var(--fontSizeTitle);
	letter-spacing: var(--letterSpacingTitle);
}



.restaurantPageAddress {
	font-size: var(--fontSizeText);
	color: var(--white-color);
}

.restaurantPagePhone {
	font-size: var(--fontSizeText);
	color: var(--white-color);
}

.restaurantPagePhoneLink {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: var(--paddingElements);
	border-radius: var(--borderRadiusElements);
	background-color: var(--primary-color);
	text-align: center;
}

.restaurantPageSocialLink {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: var(--border2pxSolidBlack);
	padding: var(--paddingElements);
	border-radius: var(--borderRadiusElements);
	text-align: center;
}

.restaurantPageMenuLink {
	font-size: var(--fontSizeText);
	color: var(--white-color);
}

.restaurantPageSocials {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
