@import '../variables.css';

.backButton {
	font-size: var(--fontSizeText);
	padding: var(--paddingElements);
	border-radius: var(--borderRadiusElements);
	border: none;
	background-color: var(--primary-color);
	width: auto;
}
