.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerSocialLinks {
  display: flex;
  justify-content: center;
  gap: 40px;
  
}