@import '../variables.css';

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: var(--paddingMain);
  padding-bottom: 20px;
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerSocialLinks {
  display: flex;
  justify-content: center;
  gap: 40px;
}