.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.headerText {
	font-size: calc(var(--fontSizeText) - 2px);
}

.headerLogo {
	width: 55%;
}
