@import '../variables.css';

.moreInfoButton {
	font-family: var(--fontFamilyText);
	font-size: var(--fontSizeText);
	padding: var(--paddingElements);
	border-radius: var(--borderRadiusElements);
	color: var(--white-color);
	background-color: transparent;
	border: var(--border2pxSolidBlack);
	width: 100%;
}
