* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	line-height: 1.4;
}

body {
	padding: 12px;
	width: 100%;
	height: 100vh;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	background-color: #e95b07;
	/* background-image: url('./assets/img/background.jpg'); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@supports (background-image: url('image.avif')) {
	body {
		/* background-image: url('./assets/img/background.avif'); */
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@supports ((background-image: url('image.webp')) and (not (background-image: url('image.avif')))) {
	body {
		/* background-image: url('./assets/img/background.webp'); */
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype'),
		url('./assets/fonts/Montserrat-Regular.woff') format('woff'),
		url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype'),
		url('./assets/fonts/BebasNeue-Regular.woff') format('woff'),
		url('./assets/fonts/BebasNeue-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

#root {
	display: flex;
	flex-direction: column;
	gap: 40px;
	/* position: relative;
	z-index: 0; */
	padding: 20px;
}

/* #root::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px);
	background: rgba(134, 134, 134, 0.5);
	z-index: -1;
	border-radius: 20px;
	border: 2px solid white;
} */
