:root {
	--primary-color: #e95b07;
	--white-color: #ffffff;
	--black-color: #000000;

	--paddingMain: 0 32px;
	--paddingSecondary: 32px 20px;
  --paddingElements: 16px;

  --fontSizeTitle: 32px;
  --fontSizeText: 16px;
  --fontFamilyTitle: 'BebasNeue', sans-serif;
  --fontFamilyText: 'Montserrat', Arial, Helvetica, sans-serif;

  --borderRadiusElements: 12px;
  --border2pxSolidBlack: 2px solid var(--black-color);
  --border2pxSolidWhite: 2px solid var(--white-color);

  --letterSpacingTitle: 2px;
}
